In [1]:
from sklearn.externals import joblib
import numpy as np

In [2]:
np.random.seed(1234)

In [3]:
with open('data/amazon.pkl','rb') as f:
    data = joblib.load(f)
locals().update(data)

In [4]:
tdm

<1000x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 4060 stored elements in Compressed Sparse Row format>

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(tdm, sentiment, test_size=0.2, 
                                                    random_state=1234)

In [8]:
from sklearn.linear_model import LogisticRegressionCV

In [9]:
model = LogisticRegressionCV()
#0,1을 맞추는데 탁월한 모형

In [12]:
model.fit(x_train, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [13]:
model.score(x_train,y_train)

0.9625

In [14]:
model.score(x_test,y_test) #Logistic regression의 단점:accuracy가 낮음

0.785

In [15]:
model.coef_[0,:10]

array([ 0.3980101 ,  0.40024896, -0.19642719, -0.34152841,  0.        ,
        0.19202989, -0.33896717,  0.23679641,  0.        ,  0.        ])

In [16]:
model.coef_.shape

(1, 1000)

In [17]:
import pandas as pd

In [19]:
sent_df = pd.DataFrame({'단어':vectorizer.get_feature_names(),'계수':model.coef_.flat})
sent_df.tail()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\dtypes.py:271: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if string == 'category':

          단어        계수
995  wrongly -0.251266
996     year  0.047629
997    years  1.441947
998     yell -0.556230
999      yes  0.000000

In [22]:
neg_df = sent_df[sent_df['계수']<0].sort_values(by='계수')
neg_df.head()

           단어        계수
492      poor -2.563357
103       bad -2.239632
803  terrible -2.128382
988     worst -1.892567
227       don -1.884050

In [23]:
pos_df = sent_df[sent_df['계수']>0].sort_values(by='계수', ascending=False)
pos_df.head() #ascending=False 을 넣으면 큰 값부터 나온다

            단어        계수
310      great  5.266542
985      works  3.297022
114       best  3.264917
395       love  3.105162
255  excellent  3.062604

In [24]:
sent_df['극성']= np.sign(sent_df['계수'])
sent_df.head()

    단어        계수   극성
0   10  0.398010  1.0
1  100  0.400249  1.0
2   11 -0.196427 -1.0
3   12 -0.341528 -1.0
4   13  0.000000  0.0

In [25]:
sent_df.set_index('단어',inplace=True)
sent_df.tail()

               계수   극성
단어
wrongly -0.251266 -1.0
year     0.047629  1.0
years    1.441947  1.0
yell    -0.556230 -1.0
yes      0.000000  0.0

In [27]:
sentence = 'poor screen but reasonable price' #primary값 은 index간의 연결